<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot HTMX Demo</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
</head>
<body>
<div class="flex flex-col items-center">
    <h1 class="text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 p-4 mb-8">
        Spring Boot HTMX Demo
    </h1>
    <h2 class="text-4xl mb-4">Products</h2>
    <button type="button"
            hx-get="/products"
            hx-target="this"
            hx-swap="afterend"
            class="mb-4 px-5 py-2.5 text-sm font-medium text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
        Click to load
    </button>
</div>
</body>
</html>
