<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootHtmxStarterApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="spring-boot-htmx-starter" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.ludigi.springboothtmxstarter.SpringBootHtmxStarterApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>